name = "lgfc-lite"

compatibility_date = "2025-10-30"
compatibility_flags = ["nodejs_compat"]

# Pages project config
pages_build_output_dir = "./out"

[[d1_databases]]
binding = "DB"                     # Must match Cloudflare binding name
database_name = "lgfc_lite"        # Must match CF dashboard
database_id = "22d0dc3e-ad34-43af-8e6a-2063df1a1e04"   # Will fill after fetching via wrangler

